{% extends "sistema/template.html" %}
{% block titulo %} Portal Contas - Pessoas {% endblock %}

{% block container %}  
<section class="content">
    <form method="POST" action="/sistema/pessoas/gravar/"> {% csrf_token %}
    <div class="row">    
        <div class="col-md-12">           
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Dados Pessoais</h3>
                </div>
                <div class="box-body">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-cog"></i></span>
                        <select class="form-control" placeholder="Tipo" name="tipo">
                          <option>ESCOLHA UM TIPO DE PESSOA</option>
                          {% for tipo in tipos %}
                          <option value="{{tipo.pk}}" {% if pessoas.tipo.nome == tipo.nome %} SELECTED {% endif %} >{{tipo.nome}}</option>
                          {% endfor%}
                        </select>           
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" placeholder="Nome" name="nome" value="{{pessoas.nome}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                        <input type="text" class="form-control"  data-mask="999.999.999-99" id="cpf" placeholder="cpf" name="cpf" value="{{pessoas.cpf}}" >
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                        <input type="text" class="form-control" placeholder="Rg" name="rg" value="{{pessoas.rg}}">                     
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-bank"></i></span>
                        <input type="text" class="form-control" placeholder="Banco" name="conta_banco" value="{{pessoas.conta_banco}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-table"></i></span>
                        <input type="text" class="form-control" id="cpf" placeholder="Conta Corrente" name="conta_corrente" value="{{pessoas.conta_corrente}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-bank"></i></span>
                        <input type="text" class="form-control" placeholder="Agência" name="conta_agencia" value="{{pessoas.conta_agencia}}">
                    </div>                    
                    <br/>
                    <div class="input-group">
                            <button type="submit" class="btn btn-success">Gravar</button>
                    </div>    
                </div><!-- /.box-body -->

            </div><!-- /.box -->
        </div><!--/.col  -->            
    </div>   <!-- /.row -->
    <div class="row">    
        <div class="col-md-12">           
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Endereço</h3>
                </div>
                <div class="box-body">           
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
                        <input type="text" class="form-control" placeholder="Endereço" name="endereco_rua" value="{{pessoas.endereco_rua}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                        <input type="text" class="form-control" placeholder="Número" name="endereco_numero" value="{{pessoas.endereco_numero}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
                        <input type="text" class="form-control" placeholder="Complemento" name="endereco_complemento" value="{{pessoas.endereco_complemento}}">                     
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input type="text" class="form-control" placeholder="Bairro" name="endereco_bairro" value="{{pessoas.endereco_bairro}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input type="text" class="form-control" id="cpf" placeholder="Cidade" name="endereco_cidade" value="{{pessoas.endereco_cidade}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input type="text" class="form-control" placeholder="Estado" name="endereco_estado" value="{{pessoas.endereco_estado}}">
                    </div>                    
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input type="text" class="form-control" placeholder="País" name="endereco_pais" value="{{pessoas.endereco_pais}}">
                    </div>                    
                    <br/>
                    <div class="input-group">
                            <button type="submit" class="btn btn-success">Gravar</button>
                        </div>    
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!--/.col  -->
        </div>   <!-- /.row -->
        <div class="row">    
            <div class="col-md-12">           
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Contatos</h3>
                    </div>
                    <div class="box-body">           
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input type="text" class="form-control" placeholder="Telefone" name="telefone_fixo" value="{{pessoas.telefone_fixo}}">
                            <input type="hidden" name="pessoaId" value="{{pessoas.id}}">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                            <input type="text" class="form-control" placeholder="Celular" name="telefone_celular" value="{{pessoas.telefone_celular}}" >
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input type="email" class="form-control" placeholder="E-mail" name="email_pessoal" value="{{pessoas.email_pessoal}}">               
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input type="email" class="form-control" placeholder="E-mail Empresarial" name="email_empresarial" value="{{pessoas.email_empresarial}}">
                        </div>
                        <br/>
                        <div class="input-group">
                            <button type="submit" class="btn btn-success">Gravar</button>
                        </div>    
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!--/.col  -->             
        </div>   <!-- /.row -->
        <div class="row">    
            <div class="col-md-12">           
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Redes Sociais</h3>
                    </div>
                    <div class="box-body">           
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                            <input type="text" class="form-control" placeholder="Facebook" name="facebook" value="{{pessoas.facebook}}">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                            <input type="text" class="form-control" placeholder="Twitter" name="twitter" value="{{pessoas.twitter}}">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-skype"></i></span>
                            <input type="text" class="form-control" placeholder="Skype" name="skype" value="{{pessoas.skype}}">             
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                            <input type="text" class="form-control" placeholder="Google Plus" name="googleplus" value="{{pessoas.googleplus}}">             
                        </div> 
                        <br/>
                        <div class="input-group">
                            <button type="submit" class="btn btn-success">Gravar</button>
                        </div>                    
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!--/.col  -->             
        </div>   <!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %}
{% block js %}
    <script src="/static/sistema/js/jasny-bootstrap.min.js"></script>
{% endblock %}





