{% extends "sistema/template.html" %}
{% load minhas_tags %}
{% block titulo %}Cadastro de Sistema{% endblock %}

{% block container %} 
    <!-- Content Header (Page header) -->
    <!--    <section class="content-header">
          <h1>
            Configurações de Sistema       
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Configurações de Sistema</li>
          </ol>
        </section>
    -->
        <!-- Main content -->
        <section class="content">
          <!-- Info boxes -->
          <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Cadastro de Contas</h3>
            </div><!-- /.box-header -->
                 <form role="form" method="POST" action="/sistema/cheque/gravar/">
                 {% csrf_token %}
                    <div class="box-body">
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                          <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Numero do Cheque" name="numero_cheque" placeholder="Numero do Cheque" value="{{cheques.numero_cheque}}">
                      </div>
                      <br/>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="nome" name="nome" placeholder="Descrição" value="{{cheques.nome}}">
                      </div>
                      <br/>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-money"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Valor" placeholder="Valor" id="demo8"  name="valor" value="{{cheques.valor|formataDinheiro}}" >
                      </div>
                      <br/>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Data de Recebimento" data-mask="99/99/9999" name="data_recebido" placeholder="Data de Recebimento" value="{{cheques.data_recebido|date:"d/m/Y"}}">
                      </div>
                      <br/>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Data para Compensar" data-mask="99/99/9999"  name="data_compensar" placeholder="Data para Compensar" value="{{cheques.data_compensar|date:"d/m/Y"}}" >
                        <input type="hidden" name="chequeId" value="{{cheques.id}}">
                      </div>
                      <br/>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Data Compensado" data-mask="99/99/9999"  name="data_compensado" placeholder="Data Compensado" value="{{cheques.data_compensado|date:"d/m/Y"}}" >
                      </div>
                      <br/>
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                          <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Banco" name="banco" placeholder="Banco" value="{{cheques.banco}}">
                      </div>
                      <br/>
                      <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                          <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Agência" name="agencia" placeholder="Agência" value="{{cheques.agencia}}">
                      </div>
                      <br/>
                      <button type="submit" class="btn btn-success">Gravar</button>
                  </div><!-- /.box-body -->
                </form>
          </div><!-- /.box -->
        </section><!-- /.content --> 
{% endblock %}
{% block js %}
    <script src="/static/sistema/js/jasny-bootstrap.min.js"></script>
    <script src="/static/sistema/js/jquery.maskMoney.min.js"></script>
    <script type="text/javascript">
      $("#demo8").maskMoney({thousands:'.', decimal:',', affixesStay: true});
    </script>
    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
{% endblock %}