{% extends "sistema/template.html" %}
{% block titulo %} Portal Contas - Listagem de Pessoas {% endblock %}

{% block container %}     
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="input-group">
                <input class="form-control" placeholder="Sua pesquisa aqui..."/>
                <div class="input-group-btn">
                    <button class="btn btn-success"><i class="fa fa-search"><b>&nbsp;Pesquisa</b></i></button>
                </div>
            </div>
        </div>
    </div>        
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Listagem de Pessoas</h3>                
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table table-hover">
                    <tr>                     
                      <th>Nome</th>
                      <th>Data</th>
                      <th>Status</th>
                      <th>Tipo de Cliente</th>
                      <th>Ver Dados</th>
                    </tr>
                    <tr>                     
                      <td>John Deepe Defoe</td>
                      <td>11-7-2014</td>
                      <td><span class="label label-success">Aprovado</span></td>
                      <td>Comprador</td>
                      <td><a href="/sistema/pessoas/" class="btn btn-info btn-sm">Editar</a></td>
                    </tr>
                    <tr>                     
                      <td>Tiago Alexandre Garcia</td>
                      <td>01-7-2015</td>
                      <td><span class="label label-warning">Aguardando</span></td>
                      <td>Fornecedor de Produtos</td>
                      <td><a href="/sistema/pessoas/" class="btn btn-info btn-sm">Editar</a></td>
                    </tr>
                    <tr>                      
                      <td>Edson Arantes do Nascimento</td>
                      <td>09-03-2000</td>
                      <td><span class="label label-primary">Aprovado</span></td>
                      <td>Parentes</td>
                      <td><a href="/sistema/pessoas/" class="btn btn-info btn-sm">Editar</a></td>
                    </tr>
                    <tr>                     
                      <td>Ayrton Senna</td>
                      <td>1-4-2004</td>
                      <td><span class="label label-danger">Parado</span></td>
                      <td>Vendedor Terceirizado</td>
                      <td><a href="/sistema/pessoas/" class="btn btn-info btn-sm">Editar</a></td>
                    </tr>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
          <div class="box-footer clearfix no-border">
                      <a href="/sistema/pessoas/"><button class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;&nbsp;Adicionar novo</button></a>
                      <div class="box-tools pull-right">
                        <ul class="pagination pagination-sm inline">
                          <li><a href="#">&laquo;</a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">&raquo;</a></li>
                        </ul>
                      </div>  
                    </div>      
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content --> 
{% endblock %}

