{% extends "sistema/template.html" %}
{% load i18n %}
{% block titulo %}{% trans "Listagem de Pessoas" %}{% endblock %}
{% block container_titulo %}<i class="fa fa-street-view"></i> {% trans "Formulário de Pessoas" %}{% endblock %}  

{% block container %}  
<section class="content">
    <form method="POST" action="/sistema/pessoas/gravar/"> {% csrf_token %}
    <input type="hidden" name="id" value="{{ form.initial.id }}">
    <input type="hidden" name="empresa" value="{{ user.empresa_id }}">
    <input type="hidden" name="ativo" value="{{ form.ativo.value }}">
    <input type="hidden" name="usuario" value="{{ user.id }}">

    <div class="row">    
        <div class="col-md-12">           
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Dados Pessoais" %}</h3>
                </div>
                <div class="box-body">
                    <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-cog"> {% trans "Tipo" %}</i></span>
                        <select class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Tipo de Pessoa' %}" placeholder="{% trans 'Tipo de Pessoa' %}" name="tipo">
                          <option>{% trans "Escolher o Tipo de Pessoa" %}</option>
                          {% for tipo in tipos %}
                            <option value="{{tipo.pk}}" {% if form.tipo.value == tipo.pk %} SELECTED {% endif %} >{{tipo.nome}}</option>
                          {% endfor %}
                        </select>           
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user">{% trans 'Nome' %}</i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Nome' %}" placeholder="{% trans 'Nome' %}" name="{% trans 'Nome' %}" value="{{ form.nome.value|default_if_none:'' }}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="CPF" data-mask="999.999.999-99" id="cpf" placeholder="cpf" name="cpf" value="{{ form.cpf.value|default_if_none:'' }}" >
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="RG" placeholder="RG" name="rg" value="{{ form.rg.value|default_if_none:'' }}">                     
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-bank"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Banco' %}" placeholder="{% trans 'Banco' %}" name="conta_banco" value="{{pessoas.conta_banco}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-table"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Conta Corrente' %}" placeholder="{% trans 'Conta Corrente' %}" name="conta_corrente" value="{{pessoas.conta_corrente}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-bank"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Agência' %}" placeholder="{% trans 'Agência' %}" name="conta_agencia" value="{{pessoas.conta_agencia}}">
                    </div>                    
                    <br/>
                    <div class="input-group">
                            <button type="submit" class="btn btn-success">{% trans "Gravar" %}</button>
                    </div>    
                </div><!-- /.box-body -->

            </div><!-- /.box -->
        </div><!--/.col  -->            
    </div>   <!-- /.row -->
    <div class="row">    
        <div class="col-md-12">           
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Endereço" %}</h3>
                </div>
                <div class="box-body">           
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Endereço' %}" placeholder="{% trans 'Endereço' %}" name="endereco_rua" value="{{pessoas.endereco_rua}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Numero' %}" placeholder="{% trans 'Número' %}" name="endereco_numero" value="{{pessoas.endereco_numero}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Complemento' %}" placeholder="{% trans 'Complemento' %}" name="endereco_complemento" value="{{pessoas.endereco_complemento}}">                     
                    </div>
                    <br />
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Bairro' %}" placeholder="{% trans 'Bairro' %}" name="endereco_bairro" value="{{pessoas.endereco_bairro}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Cidade' %}" placeholder="{% trans 'Cidade' %}" name="endereco_cidade" value="{{pessoas.endereco_cidade}}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Estado' %}" placeholder="{% trans 'Estado' %}" name="endereco_estado" value="{{pessoas.endereco_estado}}">
                    </div>                    
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Pais' %}" placeholder="{% trans 'País' %}" name="endereco_pais" value="{{pessoas.endereco_pais}}">
                    </div>                    
                    <br/>
                    <div class="input-group">
                            <button type="submit" class="btn btn-success">{% trans "Gravar" %}</button>
                        </div>    
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!--/.col  -->
        </div>   <!-- /.row -->
        <div class="row">    
            <div class="col-md-12">           
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">{% trans "Contatos" %}</h3>
                    </div>
                    <div class="box-body">           
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Telefone' %}" placeholder="{% trans 'Telefone' %}" name="telefone_fixo" value="{{pessoas.telefone_fixo}}">
                            <input type="hidden" name="pessoaId" value="{{pessoas.id}}">

                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                            <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Celular' %}" placeholder="{% trans 'Celular' %}" name="telefone_celular" value="{{pessoas.telefone_celular}}" >
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input type="email" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Email Pessoal' %}" placeholder="{% trans 'E-mail' %}" name="email_pessoal" value="{{pessoas.email_pessoal}}">               
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input type="email" class="form-control" data-toggle="tooltip" data-placement="top" title="{% trans 'Email Empresarial' %}" placeholder="{% trans 'E-mail Empresarial' %}" name="email_empresarial" value="{{pessoas.email_empresarial}}">
                        </div>
                        <br/>
                        <div class="input-group">
                            <button type="submit" class="btn btn-success">{% trans "Gravar" %}</button>
                        </div>    
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!--/.col  -->             
        </div>   <!-- /.row -->
        <div class="row">    
            <div class="col-md-12">           
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">{% trans "Redes Sociais" %}</h3>
                    </div>
                    <div class="box-body">           
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                            <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Facebook" placeholder="Facebook" name="facebook" value="{{pessoas.facebook}}">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                            <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Twitter" placeholder="Twitter" name="twitter" value="{{pessoas.twitter}}">
                        </div>
                        <br/>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-skype"></i></span>
                            <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Skype" placeholder="Skype" name="skype" value="{{pessoas.skype}}">             
                        </div>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-google-plus"></i></span>
                            <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Google Plus" placeholder="Google Plus" name="googleplus" value="{{pessoas.googleplus}}">             
                        </div> 
                        <br/>
                        <div class="input-group">
                            <button type="submit" class="btn btn-success">{% trans "Gravar" %}</button>
                        </div>                    
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!--/.col  -->             
        </div>   <!-- /.row -->
    </form>
</section><!-- /.content -->
{% endblock %}





