{% extends "sistema/template.html" %}
{% load i18n %}
{% block titulo %}{% trans "Portal Contas - Cadastro de Sistema" %}{% endblock %}

{% block container %} 
    <!-- Content Header (Page header) -->
    <!--    <section class="content-header">
          <h1>
            Configurações de Sistema       
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Configurações de Sistema</li>
          </ol>
        </section>
    -->
        <!-- Main content -->
        <section class="content">
          <!-- Info boxes -->
         
          <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Cadastro de Configurações</h3>
            </div><!-- /.box-header -->
                 <form role="form" method="POST" action="/sistema/sistema/gravar/">
                 {% csrf_token %}
                    <div class="box-body">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-cog">&nbsp;Tipo</i></span>
                        <select class="form-control" data-toggle="tooltip" data-placement="top" title="Tipo" placeholder="Tipo" id="tipo" name="tipo">
                          <option {% if form.tipo.value == '' %}
                            SELECTED
                          {% endif %} >ESCOLHA UM TIPO DE CARACTERÍSTICA</option>
                          <option 
                          {% if form.tipo.value == 'CATEGORIA' %}
                            SELECTED
                          {% endif %}  >CATEGORIA</option>
                          <option 
                          {% if form.tipo.value == 'GRUPO' %}
                            SELECTED
                          {% endif %} >GRUPO</option>
                          <option {% if form.tipo.value == 'SUB-GRUPO' %}
                            SELECTED
                          {% endif %} >SUB-GRUPO</option>
                          <option {% if form.tipo.value == 'TIPO PESSOA' %}
                            SELECTED
                          {% endif %} >TIPO PESSOA</option>
                        </select>
                      </div>
                      <br />
                      <input type="hidden" value="{{form.id.value}}" name="sisID" id ="sisID" >
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-wrench">&nbsp;Nome</i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Nome" placeholder="Nome" id="nome" name="nome" value="{{form.nome.value|default_if_none:''}}">
                      </div>
                      <br/>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-cogs">&nbsp;Descrição</i></span>
                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top" title="Descrição" placeholder="Descrição" id="descricao" name="descricao" value="{{form.descricao.value|default_if_none:''}}">
                      </div>
                      <br/>
                      <button type="submit" class="btn btn-success">Gravar</button>

                  </div><!-- /.box-body -->
                </form>

          </div><!-- /.box -->
        </section><!-- /.content -->
   

    

   
{% endblock %}