{% extends "sistema/template.html" %}
{% load i18n %}

{% block titulo %}{% trans "Meu Perfil" %}{% endblock %}

{% block container_titulo %}<i class="fa fa-user"></i> {% trans "Meu Perfil" %}{% endblock %}  

{% block container %}  
<section class="content">
<form action="/sistema/usuario/gravar/" method="POST"> {% csrf_token %}
<input name="last_login"  value="{{ form.last_login.value|date:'Y-m-d H:i' }}" type="hidden">
<input name="date_joined"  value="{{ form.date_joined.value|date:'Y-m-d H:i' }}" type="hidden">
<input name="password" value="{{ form.password.value }}" type="hidden">
<input name="empresa" value="{{ user.empresa_id }}" type="hidden">
<input name="id" value="{{ user.id }}" type="hidden">

    <div class="row">    
        <div class="col-md-12">           
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Informações Pessoais" %}</h3>
                </div>
                <div class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-street-view"> {% trans "Login" %}</i></span>
                        <input name="username" readonly="true" value="{{ form.username.value|default_if_none:'' }}" type="text" class="form-control"  placeholder="{% trans 'Nome para entrar no sistema...' %}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "Nome" %}</i></span>
                        <input name="first_name" value="{{ form.first_name.value|default_if_none:'' }}" type="text" class="form-control"  placeholder="{% trans 'Seu primeiro nome...' %}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "Sobrenome" %}</i></span>
                        <input name="last_name" value="{{ form.last_name.value|default_if_none:'' }}" type="text" class="form-control"  placeholder="{% trans 'Seu nome do meio ou último nome...' %}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "CPF" %}</i></span>
                        <input name="cpf" value="{{ form.cpf.value|default_if_none:'' }}" type="text" class="form-control" data-mask="999.999.999-99"  placeholder="{% trans 'Número de CPF...' %}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "RG" %}</i></span>
                        <input name="rg" value="{{ form.rg.value|default_if_none:'' }}" type="text" class="form-control"  placeholder="{% trans 'Número do RG...' %}">
                    </div>
           
                </div><!-- /.box-body -->
            </div><!-- /.box -->


            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">{% trans 'Dados de Contato' %}</h3>
                </div>
                <div class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "Email" %}</i></span>
                        <input name="email" value="{{ form.email.value|default_if_none:'' }}" type="email" class="form-control"  placeholder="{% trans 'Seu e-mail de cadastro...' %}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "Telefone Fixo" %}</i></span>
                        <input name="telefone_fixo" value="{{ form.telefone_fixo.value|default_if_none:'' }}" type="text" class="form-control" data-mask="(99) 9999-9999"  placeholder="Telefone com DDD...">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "Telefone Celular" %}</i></span>
                        <input name="telefone_celular" value="{{ form.telefone_celular.value|default_if_none:'' }}" type="text" class="form-control" data-mask="(99) ?9999-99999" placeholder="{% trans 'Seu telefone móvel com DDD...' %}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "Facebook" %}</i></span>
                        <input name="facebook" value="{{ form.facebook.value|default_if_none:'' }}" type="text" class="form-control"  placeholder="{% trans 'Link do Facebook para o seu perfil...' %}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "Google Plus" %}</i></span>
                        <input name="googleplus" value="{{ form.googleplus.value|default_if_none:'' }}" type="text" class="form-control"  placeholder="{% trans 'Link do seu Google Plus...' %}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "Twitter" %}</i></span>
                        <input name="twitter" value="{{ form.twitter.value|default_if_none:'' }}" type="text" class="form-control"  placeholder="{% trans 'Link do seu Twitter...' %}">
                    </div>
                    <br/>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "Skype" %}</i></span>
                        <input name="skype" value="{{ form.skype.value|default_if_none:'' }}" type="text" class="form-control"  placeholder="{% trans 'Seu email ou nome de usuário do Skype...' %}">
                    </div>
                    <br/>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">{% trans 'Trocar Senha' %}</h3>
                </div>
                <div class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"> {% trans "Nova Senha" %}</i></span>
                        <input name="passwordNovo" value="" type="password" class="form-control"  placeholder="{% trans 'Digite sua nova senha de acesso para trocar.' %}">
                    </div>

                    <br/>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!--/.col  -->            
        </div>   <!-- /.row -->

        <div class="row">    
            <div class="col-md-6">
                <div class="input-group">                  
                    <span class="input-group-btn">
                    <div align="left">
                        <a href="" class="btn btn-default btn-flat" data-toggle="modal" data-target="#ModalConfirma"><i class="fa fa-trash-o"></i> {% trans "Suspender minha conta!" %}</a>
                    </div>
                    </span>
                </div>
            </div>    
            <div class="col-md-6">
                <div class="input-group">                  
                    <span class="input-group-btn">
                    <div align="right">
                        <input type="submit" class="btn btn-success btn-flat" value="{% trans 'Salvar meus dados!' %}">
                    </div>
                    </span>
                </div>
            </div><!--/.col  -->           
        </div><!-- /.row -->  
        <br />
        Conta criada em: {{ form.date_joined.value }} 
</form>     
</section><!-- /.content -->

<!-- Modal -->
<div class="modal fade" id="ModalConfirma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash-o"></i> CONFIRMA EXCLUSÃO?</h4>
            </div>
            
            <div class="modal-body">
                {{ user.first_name }}{% trans ", você deseja excluir a sua conta? Se você for o(a) Gerente Principal da empresa "%}{{ user.empresa.nome_fantasia }}{% trans ", ela também será desativada juntamente com o seu registro. Caso não seja, somente a sua conta de funcionário(a) será excluída e não irá influenciar no registro principal da empresa." %}
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Não Excluir!" %}</button>
                <a class="btn btn-danger" href="/sistema/usuario/excluir/"><i class="fa fa-trash-o"></i> {% trans "Excluir minha conta." %}</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal --> 
{% endblock %}





