{% extends "index/template.html" %}
{% load i18n %}
{% block titulo %}Sistema de Gestão Financeira{% endblock %}

{% block section1 %}
<div class="container">
	<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-2 text-center"><h3>Simples</h3><p>Sistema financeiro onde qualquer pessoa consegue usar!</p><i class="fa fa-leaf fa-5x"></i></div>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 text-center"><h3>Rápido</h3><p>Nunca foi tão rápido criar contas e enviar boletos!</p><i class="fa fa-bolt fa-5x"></i></div>
				</div>
			</div>
			<div class="col-sm-4 text-center">
				<div class="row">
					<div class="col-sm-10 text-center"><h3>Gratuito</h3><p>Nós gostamos assim, e sempre será assim! Aproveite e cadastre-se!</p><i class="fa fa-cloud fa-5x"></i></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-sm-offset-1">
				<div class="row">
					<br />
					<br />
					<br />
				</div>
				<div class="row">
					<div class="col-sm-10 text-center"><a href="/cadastro/" class="btn btn-lg btn-success">Experimente! É grátis!</a></div>
				</div>
			</div>
	</div><!--/row-->
<div class="row"><br></div>
</div><!--/container-->
{% endblock %}

{% block section4 %}
<section class="container-fluid" id="section4">
	<h2 class="text-center">Acesse de qualquer local!</h2>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <img src="/static/index/img/4.png" class="img-responsive center-block ">
        <h2 class="text-center">Notebook, tablet, celular ou desktop? Tanto faz!</h2>
      </div>

    </div>
</section>
{% endblock %}

{% block section5 %}
<section class="container-fluid" id="section5">
    <div class="container">
    <div class="row">

      <div class="col-sm-4 col-sm-offset-4">
            <div class="list-group text-center">
              <a href="/cadastro/" class="list-group-item active">
                <h2 class="list-group-item-heading">Plano Único</h2>
                <h6>Plano Gratuito</h6>
              </a>
              <a href="/cadastro/" class="list-group-item">
                <p class="list-group-item-text">Cadastro de Caixa Entrada - Ilimitado</p>
              </a>
              <a href="/cadastro/" class="list-group-item">
                <p class="list-group-item-text">Cadastro de Caixa Saída - Ilimitado</p>
              </a>
              <a href="/cadastro/" class="list-group-item">
                <p class="list-group-item-text">Cadastro de Chegues - Ilimitado</p>
              </a>
              <a href="/cadastro/" class="list-group-item">
                <p class="list-group-item-text">Cadastro de Plano de Contas - Ilimitado</p>
              </a>
              <a href="/cadastro/" class="list-group-item">
                <p class="list-group-item-text">Emissão de Boletos - Ilimitado</p>
              </a>
              <a href="/cadastro/" class="list-group-item">
                <button class="btn btn-primary btn-lg btn-block">COMECE A USAR AGORA!</button>
              </a>
            </div>
      </div><!--/centro-->
    </div><!--/row-->
    </div><!--/container-->
</section>
{% endblock %}

{% block section6 %}
<section class="container-fluid" id="section6">
	<h2 class="text-center">Cobrança Recorrente</h2>
    <p class="text-center lead">Cadastre sua conta bancária no sistema e faça emissões de boletos por E-mail ou Correios!</p>
    <img src="/static/index/img/boleto.png" class="img-responsive center-block ">
</section>
{% endblock %}
