{% extends "index/template.html" %}
{% load i18n %}
{% block titulo %}Política de Privacidade{% endblock %}

{% block section1 %}
<div class="container">
  <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-2 text-center"><h3></h3><p></p></div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 text-center"><h3>POLÍTICA DE PRIVACIDADE</h3><p>Respeitamos suas informações.</p><i class="fa fa-check-square-o fa-5x"></i></div>
        </div>
      </div>
      <div class="col-sm-4 text-center">
        <div class="row">
          <div class="col-sm-10 text-center"><h3></h3><p></p></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-sm-offset-1">
        <div class="row">
          <br />
          <br />
          <br />
        </div>
      </div>
  </div><!--/row-->
<div class="row"><br></div>
</div><!--/container-->
{% endblock %}

{% block section4 %}
<section class="container-fluid" id="section4">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">


  <div class="row-fluid first terms-section ">
    <div class="span6 terms-long">
      <div class="term-title">REVISAR E ARRUMAR DEPOIS</div>
      

Quando você se cadastra no ContaAzul para realizar a degustação gratuita de 15 dias, nós coletamos algumas informações pessoais:

Nome;
Nome de sua empresa;
Telefone;
Email;
Nova senha para acesso ao ContaAzul;
Temos 2 (dois) objetivos ao coletarmos essa informação. O primeiro é conceder acesso ao ContaAzul a partir do email e senha cadastrados. O segundo objetivo - e motivo de coletarmos seu nome, nome de sua empresa, seu telefone e também seu email - é termos a possibilidade de entrarmos em contato com você para lhe oferecer ajuda durante o período de degustação.

As suas informações serão coletadas, usadas e tratadas única e exclusivamente para que as funcionalidades contratadas sejam efetivamente usadas por você e serão armazenadas em ambiente seguro e de acesso restrito, atendendo a preservação da intimidade, da vida privada, da honra e da imagem das partes direta ou indiretamente envolvidas

Caso você deseje alterar suas informações, basta entrar no sistema ContaAzul (https://app.contaazul.com.br) e clicar em "Configurações".

Suas informações nunca serão fornecidas a nenhuma outra empresa que não a ContaAzul, mas se mesmo assim você desejar removê-la envie um email para suporte@contaazul.com a partir do email que você informou no cadastro ao ContaAzul com o assunto "Excluir minha conta". Sua conta será excluída juntamente com todos seus dados.

Caso você queira parar de receber comunicações futuras simplesmente envie um email para suporte@contaazul.com a partir do email que você informou no cadastro ao ContaAzul com o assunto "Não entrar em contato".



      </div>

    </div>
</section>
{% endblock %}
